<div class="flex flex-col mt-20 overflow-hidden mx-auto py-12 bg-primary-800">
    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 mx-auto">
      <div class="mb-14">
        <h1 class="text-xl font-bold tracking-tight sm:text-center text-white sm:text-2xl">
          that is Why you must use TECH CMR
        </h1>
      </div>
  
      <div class="grid lg:grid-cols-6 md:grid-cols-3 grid-cols-2 max-w-fit gap-3 lg:gap-6 text-white">
        <div class="flex flex-col gap-2 max-w-[228px] p-2 bg-primary-600 rounded-md">
          <span>🔔</span>
          <h4>À jour</h4>
          <p class="text-sm">Vous êtes informé des nouvelles plateformes!</p>
        </div>
  
        <div class="flex flex-col gap-2 max-w-[228px] p-2 bg-primary-600 rounded-md">
          <span>📅</span>
          <h4>Les évènements</h4>
          <p class="text-sm">Aucun évènement tech du MBOA ne vous échapera!</p>
        </div>
  
        <div class="flex flex-col gap-2 max-w-[228px] p-2 bg-primary-600 rounded-md">
          <span>🦾</span>
          <h4>Les intellos</h4>
          <p class="text-sm">Les étoiles montantes des communautés vous seront présentés!</p>
        </div>
  
        <div class="flex flex-col gap-2 max-w-[228px] p-2 bg-primary-600 rounded-md">
          <span>👨🏾‍💻</span>
          <h4>Mode</h4>
          <p class="text-sm">Les métiers à la mode seront mis en avant!</p>
        </div>
  
        <div class="flex flex-col gap-2 max-w-[228px] p-2 bg-primary-600 rounded-md">
          <span>⚡️</span>
          <h4>À la une</h4>
          <p class="text-sm">Nous vous présenterons les actualités du MBOA!</p>
        </div>
  
        <div class="flex flex-col gap-2 max-w-[228px] p-2 bg-primary-600 rounded-md">
          <span>⚡️</span>
          <h4>À la une</h4>
          <p class="text-sm">Nous vous présenterons les actualités du MBOA!</p>
        </div>
      </div>
    </div>
</div>
  