<div class="grid grid-cols-3 border border-slate-100 dark:border-slate-700 rounded-md shadow-lg">
    <div class="col-span-1 p-10">
      <div class="mb-14">
        <h3 class="text-xl font-bold tracking-tight text-primary-900 dark:text-white sm:text-2xl">Careers</h3>
  
        <p class="mt-4 text-lg leading-8 text-slate-600 dark:text-slate-400">Careers</p>
      </div>
    </div>
  
    <div class="col-span-2 p-10 relative overflow-hidden isolate bg-white">
      <div class="absolute inset-y-0 left-0 w-full bg-gray-50 dark:bg-gray-800">
        <svg class="absolute top-8 left-1/2 -ml-3" width="404" height="392" fill="none" viewBox="0 0 404 392">
          <defs>
            <pattern
              id="8228f071-bcee-4ec8-905a-2a059a2cc4fb"
              x="0"
              y="0"
              width="20"
              height="20"
              patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="392" fill="url(#8228f071-bcee-4ec8-905a-2a059a2cc4fb)" />
        </svg>
      </div>
  
      <img class="w-full max-h-[440px] mb-8 relative" src="/assets/img/carreers.svg" alt="careers illustration" />
    </div>
</div>
  