@import url('https://fonts.cdnfonts.com/css/dosis');
@import url('https://fonts.cdnfonts.com/css/dancing-moon-script');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Dosis', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
